main,
h1,
h3 {
  text-align: center;
}

h3,
h1,
p,
label,
ul {
  color: white;
}

ul {
  list-style-type: none;
}

button {
  background-color: peru !important;
  color: white !important;
}

#body {
  background-color: rgb(153, 153, 14);
}