<li>
    {{burger_name}}
    <button type="button " class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}<p>EAT ME!</p>{{else}}THROW ME BACK{{/if}}
    </button>
</li>